.header__lang-active {
  text-decoration-line: underline;
  width: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 23px;
  text-align: right;
  color: #fff;
}
  
.header__lang-active:hover {
  opacity: .3;
}